<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="badoystudio.com.introslider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- suppress AndroidDomInspection -->
        <activity android:name="com.example.wilda.tatiketbola.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- suppress AndroidDomInspection -->
        <activity android:name="com.example.wilda.tatiketbola.PilihTim" />
        <activity android:name="com.example.wilda.tatiketbola.PilihJadwalArema" />
        <activity android:name="com.example.wilda.tatiketbola.Daftar" />
        <activity android:name="com.example.wilda.tatiketbola.Login" />
        <activity android:name="com.example.wilda.tatiketbola.konfirmasi" />
        <activity android:name="com.example.wilda.tatiketbola.pembayaran" />
        <activity android:name="com.example.wilda.tatiketbola.profil" />
        <activity android:name="com.example.wilda.tatiketbola.menuawal" />
        <activity android:name="com.example.wilda.tatiketbola.jadwal" />
        <activity android:name="com.example.wilda.tatiketbola.hasil" />
        <activity android:name="com.example.wilda.tatiketbola.daftar_stadion" />
        <activity android:name="com.example.wilda.tatiketbola.deskripsi" />
        <activity android:name="com.example.wilda.tatiketbola.pesan" />
        <activity android:name="com.example.wilda.tatiketbola.splash_screen" />
        <activity android:name="com.example.wilda.tatiketbola.bottom_nav"></activity>
    </application>

</manifest>